.main-unauth-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .main-txt {
    max-width: 800px;
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;

    .logo {
      width: 120px;
      margin: 0 auto 2rem;
    }

    h3 {
      margin-bottom: 4rem;
    }
  }

  .main-image {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-auth-page {
  &__inner {
    max-width: 1000px;
    justify-content: space-between;
  }

  .post-feed-container {
    width: 60%;
  }
  .user-feed-container {
    width: 35%;
  }
}
