*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 62.5%; //10px based 1rem = 10px
}

body {
  font-family: $font-sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.3px;
  color: $color-body;
}

a,
.link-border {
  color: $color-body;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.4px;

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: $color-body;
    transform-origin: left center;
    transition: transform 0.5s;
    transform: scaleX(1) translateZ(0);
  }

  &:hover {
    &:after {
      transform-origin: right 0;
      transform: scaleX(0) translateZ(0);
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h1 {
  font-size: 10.9rem;
  line-height: 1;
}

h2 {
  font-size: 6.76rem;
}

h3 {
  font-size: 4.19rem;
}

h4 {
  font-size: 2.59rem;
}

p,
ul,
ol,
blockquote,
small {
  margin: 0 0 2rem 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

small {
  font-size: 0.7rem;
  line-height: 1.5em;
  display: block;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  background: none;
  outline: none;
}

figure {
  margin: 0;
  padding: 0;
}

blockquote {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 2rem;
  line-height: 1.5em;
  max-width: 50%;
}

hr {
  display: block;
  border: solid $color-grey-300;
  border-width: 1px 0 0 0;
  margin: 3rem 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  transform: translate3d(0, 0, 0);
}

.wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  display: inline-blcok;
  padding: 1.4rem 5rem;
  background-color: $color-key;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
}
