.browse-users {
  margin-top: 3rem;
}

.user {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__avatar {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      margin-right: 1rem;
    }
  }

  &__follow {
    display: flex;
    align-items: center;
    button {
      margin-left: 1rem;
    }
  }
  .btn {
    font-size: 1rem;
    padding: 1rem;
  }
}

.user-snackbar {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
  background-color: #fff;
  display: none;
  padding: 1rem 2rem;
  border: 1px solid #ccc;

  &.is-success {
    display: block;
  }
}
